___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [0]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')
# next use !ls to navigate to desired file path then insert below
#df=pd.read_csv('gdrive/My Drive/Colab Notebooks/Python for Time Series Data Analysis/Data/samples.csv')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [14]:
!ls gdrive/My\ Drive/Colab\ Notebooks/Pyhon\ Data\ Science\ Bootcamp/03\-Python-for-Data-Analysis-Pandas/example.csv

'01-Introduction to Pandas.ipynb'
 02-Series.ipynb
 03-DataFrames.ipynb
'04-Missing Data.ipynb'
 05-Groupby.ipynb
'06-Merging, Joining, and Concatenating.ipynb'
 07-Operations.ipynb
'08-Data Input and Output.ipynb'
 example
 Excel_Sample.xlsx
 multi_index_example

## CSV

### CSV Input

In [17]:
df = pd.read_csv('gdrive/My Drive/Colab Notebooks/Pyhon Data Science Bootcamp/03-Python-for-Data-Analysis-Pandas/example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [0]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [0]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [0]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [0]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [0]:
df1 = pd.read_html('https://www.espn.com/nfl/stats')

In [39]:
df1[5]

           Interceptions               INT
0     1Stephon GilmoreNE                 6
1     1Anthony HarrisMIN                 6
2  1Tre'Davious WhiteBUF                 6
3      4Devin McCourtyNE                 5
4          4Joe HadenPIT                 5
5       Complete Leaders  Complete Leaders

____

_____
_____
# SQL (Optional)

* Note: If you are completely unfamiliar with SQL you can check out my other course: "Complete SQL Bootcamp" to learn SQL.

The pandas.io.sql module provides a collection of query wrappers to both facilitate data retrieval and to reduce dependency on DB-specific API. Database abstraction is provided by SQLAlchemy if installed. In addition you will need a driver library for your database. Examples of such drivers are psycopg2 for PostgreSQL or pymysql for MySQL. For SQLite this is included in Python’s standard library by default. You can find an overview of supported drivers for each SQL dialect in the SQLAlchemy docs.


If SQLAlchemy is not installed, a fallback is only provided for sqlite (and for mysql for backwards compatibility, but this is deprecated and will be removed in a future version). This mode requires a Python database adapter which respect the Python DB-API.

See also some cookbook examples for some advanced strategies.

The key functions are:

* read_sql_table(table_name, con[, schema, ...])	
    * Read SQL database table into a DataFrame.
* read_sql_query(sql, con[, index_col, ...])	
    * Read SQL query into a DataFrame.
* read_sql(sql, con[, index_col, ...])	
    * Read SQL query or database table into a DataFrame.
* DataFrame.to_sql(name, con[, flavor, ...])	
    * Write records stored in a DataFrame to a SQL database.

In [0]:
from sqlalchemy import create_engine

In [0]:
engine = create_engine('sqlite:///:memory:')

In [28]:
df.to_sql('data', engine)

AttributeError: ignored

In [0]:
sql_df = pd.read_sql('data',con=engine)

In [0]:
sql_df

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

# Great Job!